header {
    background-color: #4EA0FF;
    background-image: url('../img/pattern.png');
    height: 150px;
}

.logo {
    height: 70px;
    padding-top: 70px;
}

h1 {
    font-size: 60px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    margin-bottom: 0;
}

.autore {
    font-size: 25px;
    color: grey;
    font-weight: bold;
}

.autore > a {
    text-decoration: none;
    color: deepskyblue;
}

.data {
    font-size: 20px;
}

.main-pictures > img {
    width: 800px;
    height: 600px;
}

.caption {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}